@import url('https://fonts.googleapis.com/css?family=Alegreya|Ubuntu|Satisfy&display=swap');
:root{
    --page-bg: #eee;
    --page-txt: #222;
}

@media (prefers-color-scheme: dark) {
    :root{
        --page-bg: #222;
        --page-txt: #eee;
    }
}
body {
    margin: 0;
    color: #222;
    color: var(--page-txt);
    background: #eee;
    background: var(--page-bg);
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Alegreya', serif;
    padding-bottom: 5vh;
}
.title {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    width: max-content;
    margin: 42px auto;
    font-size: 32px;
    text-align: center;
}
.title span {
    position: relative;
}
.title span::after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100%; width: 100%;
    box-shadow: 0 2px 0 -1px goldenrod;
    transform: scale(0, 1);
    transform-origin: 0% 50%;
    transition: transform 800ms ease-in-out 200ms;
}
.title:hover span::after {
    transform: scale(1, 1);
}

body:focus .title span::after,
body:hover .title span::after {
    transform: scale(1, 1);
    transition: transform 800ms ease-in-out 600ms;
}

.block {
    width: 90vw;
    max-width: 60em;
    margin: 8px auto;
    font-family: 'Alegreya', serif;
}

.the-end {
    height: 1px;
    width: 80vw;
    border: 2px solid #036;
    border-left: 2px solid #0360;
    border-right: 2px solid #0360;
    border-radius: 50%;
    margin: 50px auto;
}
.ps {
    margin-bottom: 2px;
}
.ps span {
    color: #789;
    margin-right: 4px;
}
ul {
    margin-top: 0;
}
.sign-off {
    color: #444;
    font-family: 'Satisfy', cursive;
    margin: 24px 0px;
    font-size: 21px;
}


.back {
    position: absolute;
    top: 1vh;
    left: 1vw;
    cursor: pointer;
    z-index: 500;
}
.back button {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    padding: 4px 8px;
    color: #036;
    color: #246;
    font-weight: bold;
    /* text-shadow: 1px 1px 1px #111; */
    background-color: #39f8;
    background-image: linear-gradient(to bottom, #369, #69c);
    background-image: linear-gradient(to bottom, #abc, #cde);
    border: 2px outset #246;
    box-shadow: 1px 1px 1px #2229;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}
.back:hover button {
    box-shadow: 2px 4px 4px #2229;
    transform: translateX(-4px);
}

a:link { color: white; text-decoration: none;}
a:hover { text-decoration: underline; }
a:visited { color: white; }

.name-end {
    position: fixed;
    bottom: 5px;
    right: 12px;
    color: hsla(210, 89%, 29%, 5%);
    font-size: 24pt;
    font-family: 'Satisfy', cursive;
    user-select: none;
    transition: color .5s ease-out;
}
.name-end:hover {
    color: hsla(210, 89%, 29%, 50%);
    transition: color 1s ease-out 2s;
}
body:focus .name-end,
body:hover .name-end {
    color: hsla(210, 89%, 29%, 50%);
    transition: color 1s ease-out 12s;
}

/* Forum */
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
.font-Forum { font-family: 'Forum', cursive; font-size: 1.5rem; }
:root {
    --hue-1: 30;
    --hue-2: 0;
    --hue-3: 210;
    --hue-4: 250;
    --hue-5: 270;
    --hue-6: 330;

    --icon-options: '🏠🌟🌀🎲🌊🌌🌠✨';
}

[class|="navbtn"]:nth-child(1) { --icon: '🏠'; }
[class|="navbtn"]:nth-child(2) { --icon: '🎲'; }
[class|="navbtn"]:nth-child(3) { --icon: '🌊'; }
[class|="navbtn"]:nth-child(4) { --icon: '🌌'; }
[class|="navbtn"]:nth-child(5) { --icon: '✨'; }

.my-radio-nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.navbtn {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backstory {
    max-width: 50rem;
    max-width: 69rem;
    /* max-width: 75rem; */
}

.scratch { text-decoration-line: line-through; }
.scratch { text-decoration-line: wavy line-through; }

.chapter {
    text-align: left;
}
.chapter:not(:last-of-type) {
    box-shadow: 0 2.125rem 0 -2rem #2222;
}
.chapter-title {
    width: 100%;
    font-size: 1.5rem;
    font-size: 1.5em;
    margin-top: 1.5rem;
    text-align: center;
}

.clue {
    position: relative;
    --clr: #8882;
    --txt: #8882;
    --bg: #0000;
    user-select: none;
    transition: 
    color 200ms ease-in-out,
    text-shadow 200ms ease-in-out,
    background-color 200ms ease-in-out;
}

[data-clue-type="romance"] { --clr: #eee; --bg: #a22; }
[data-clue-type="age"] { --clr: #eee; --bg: #26a; }
[data-clue-type="class"] { --clr: #eee; --bg: #62a; }


.clue {
    color: #8882;
    color: hsla(210, 50%, 8%, 1);
    color: var(--bg);
    background-color: #0000;
    text-shadow: 0px 0px 1px var(--bg);
    border-radius: 50%;
    border-radius: 2px;
    padding: .25rem;
    margin: -.25rem;
}
.clue:hover {
    color: var(--clr);
    background-color: var(--bg);
    text-shadow: 1px 1px 1px #111;
}
.clue::before {
    content: '';
    position: absolute;
    top: 50%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 2.5rem; width: 2.5rem;
    border-radius: 50%;
    background-color: #0000;
    box-shadow: 0rem 0rem .125rem .125rem #ddd8;
    box-shadow: 0rem 0rem .125rem .125rem #ddd0;
    box-shadow: 0rem 0rem 1.25rem .25rem #ddd0;
    top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);
    transition: 
    transform 300ms ease-in-out,
    box-shadow 300ms ease-in-out;
}
.clue::after {
    content: attr(data-clue);
    position: absolute;

    width: max-content;
    padding: .125rem .25rem;

    border-radius: 2px;
    color: #0000;
    background-color: #0000;
    box-shadow: .25rem .25rem .25rem #1110;

    user-select: none;
    overflow: hidden;

    top: 0%; left: 50%; transform: translateX(-50%) translateY(-0%) scale(0);

    transition: 
    color 300ms ease-in-out,
    background-color 300ms ease-in-out,
    transform 300ms ease-in-out,
    box-shadow 300ms ease-in-out;
}
.clue:hover::after {
    color: var(--clr);
    background-color: var(--bg);
    box-shadow: .25rem .25rem .25rem #1118;
    transform: translateX(-50%) translateY(-100%) scale(1);
}

.under-construction::before,
.under-construction::after {
    content: '🚧';
    padding: .5rem;
}

/* :root { --icon: '_'; } */

::-webkit-scrollbar { height: 0px; width: 10px; }
::-webkit-scrollbar-track { box-shadow: inset 0 0 6px #369c; }
::-webkit-scrollbar-thumb { 
    background-color: #fffa; border-radius: 5px; 
    transition: background-color 200ms ease-in-out;
    box-shadow: 
    inset 2px 2px 4px #fffd,
    inset -2px -2px 4px #1357;
}
::-webkit-scrollbar-thumb:hover { background-color: #fffa; }


.z { display: none; }