/* 
█▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀█
 ▐▀▀▀▌ ▐▄  ▌ ▐▀█▄  
 ▐■■   ▐▀█▄▌ ▐  █▌ 
 ▐▄▄▄▌ ▐  ▀▌ ▐▄█▀  
█▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄█
*/
/* End of Page */
.btmspace{
    height: 89px;
    width: 100%;
    user-select: none;
}
footer {
    position: fixed;
    bottom: .5rem;
    left: 1rem;
    user-select: none;
    color: hsla(210, 5%, 29%, 89%);
}
.name-end{
    position: fixed;
    bottom: 5px;
    right: 12px;
    color: hsla(210, 89%, 29%, 5%);
    font-size: 24pt;
    font-family: 'Satisfy', cursive;
    user-select: none;
    transition: color .5s ease-out;
}
.name-end:hover{
    position: fixed;
    bottom: 5px;
    right: 12px;
    color: hsla(210, 89%, 29%, 50%);
    font-size: 24pt;
    font-family: 'Satisfy', cursive;
    user-select: none;
    transition: color 1s ease-out 2s;
}
.hidden{
    display: none!important; 
    user-select: none;
}